@font-face {
  font-family: "sf";
  src: url(./SFPRODISPLAYMEDIUM.OTF);
}
body {
  background: #000;
}
* {

  margin: 0;
  padding: 0;
  font-family: "sf"; 
}

a {
  color: white;
  border: 30px;
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
  /* background-color: red; */
  color: white;
  margin-top: 40px;
}
#img-back {
  display: flex;
  /* background-color: red; */
  align-items: end;
  height: 300px;
  /* text-align: center; */
  justify-content: space-between;
  /* margin-right: 30px; */
  /* width: 100px; */
  position: relative;

}
#Right {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 0;
   margin-bottom: -100px;
   margin-right: -100px;
  /* margin-left: 10000px; */
  transform: scale(1);
}
#Left {
  width: 500px;    
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: -100px;
  margin-left: -100px;
  transform: scale(1);  
}
/* #parent-left{
  background-color: aqua;
} */
.awl {
  color: green;
  font-size: x-large;
  font-weight: 600;
  
}
.bwh {
  color: white;
  font-size: 125px;
}
.text {
  /* display: flex; */
  text-align: center;
  margin-top: 200px;
  /* position: relative; */

  /* padding-top: 40px; */
  /* bottom:0 ; */
  /* background-color: red; */
  gap: 100;
}
#about{
  height: 300vh;
}
