@font-face {
  font-family: "sf";
  src: url(./SFPRODISPLAYMEDIUM.OTF);
}
body {
  background: #000;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: "sf";
}

a {
  color: white;
  border: 30px;
}
.navigation {
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: center;
  /* background-color: red; */
  color: white;
  margin-top: 40px;
}
#img-back {
  display: flex;
  /* background-color: red; */
  align-items: end;
  height: 300px;
  /* text-align: center; */
  justify-content: space-between;
  /* margin-right: 30px; */
  /* width: 100px; */
  position: relative;
}
#Right {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -100px;
  margin-right: 0px;

  /* margin-left: 10000px; */
  transform: scale(1);
  max-width: 100vh;
}
#Left {
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: -100px;
  margin-left: -100px;
  transform: scale(1);
}
/* #parent-left{
  background-color: aqua;
} */
.awl {
  color: #1bff07;
  font-size: x-large;
  font-weight: 600;
}
.bwh {
  color: white;
  font-size: 125px;
}
.text {
  /* display: flex; */
  text-align: center;
  margin-top: 200px;
  /* position: relative; */

  /* padding-top: 40px; */
  /* bottom:0 ; */
  /* background-color: red; */
  gap: 100;
}
#about {
  height: 300vh;
}

#navigation-two {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-right: 20px;
  margin-top: 40px;
  color: white;
  justify-content: center;
}

.text-two {
  color: white;
  text-align: center;
  margin-top: 400px;
  /* margin-bottom: 400px; */

  gap: 10px;
}
#img-back-2 {
  background-color: red !important;
  transform: rotateY(0 deg);
  transform-origin: bottom center;
}

.first {
  font-weight: bolder;
  color: #1bff07;
  font-size: x-large;
}

.last {
  font-size: 250px;
  font-weight: 900;
}
.kiri {
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: -1000px;
  margin-left: -100px;
}
.kanan {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -1000px;
  margin-right: 0px;
}
